<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MinaPlay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 h-25">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item text-right">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <button class="p-2 px-4 bg-transparent border-2 border-orange-light hover:bg-orange-light hover:text-white text-orange-light font-bold rounded-lg">Login</button>
                            </a>
                        </li>
                        <li class="nav-item text-right">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">
                                <button class="p-2 px-4 bg-white rounded-lg hover:bg-orange-light hover:text-white text-blue-dark font-bold">Register</button>
                            </a>
                        </li>
                        <li class="nav-item text-right">
                            <select class="bg-transparent p-1 border-1 border-mina-orange-light text-mina-orange-light text-xs"><option value="en">En</option><option value="am">አማ</option></select>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MinaPlay - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
